<h1>Make your form here</h1>

<form action="/pirate" method="post"> 

<label for="name"> Pirate Name:</label>
<input type="text" name="pirate[name]">
<label for="weight">Pirate Weight: </label>
<input type="text" id="weight" name="pirate[weight]">
<label for="name">Pirate Height: </label>
<input type="text" id="height" name="pirate[height]">

<label for="name"> Ship Name: </label>
<input type="text" id="ship_name_1" name="pirate[ship][][name]">
<label for="name">Ship Type:</label>
<input type="text" id="ship_type_1" name="pirate[ship][][type]">
<label for="name"> Ship Booty: </label>
<input type="text" id="ship_booty_1" name="pirate[ship][][booty]">

<label for="name"> Ship Name:</label>
<input type="text" id="ship_name_2" name="pirate[ship][][name]">
<label for="name"> Ship Type: </label>
<input type="text" id="ship_type_2" name="pirate[ship][][type]">
<label for="name"> Ship Booty: </label>
<input type="text" id="ship_booty_2" name="pirate[ship][][booty]">

<input type="submit" value="Submit">
</form>

